html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ma-0 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: #141414;
}

.secondary {
  color: #272727;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
}

.radius-none {
  border-radius: 0 !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.container {
  margin: 50px auto;
  max-width: 900px;
  padding-left: 15px;
  padding-right: 15px;
}

.pointer {
  cursor: pointer;
}

.h-50 {
  height: 50vh;
}

.article {
  padding: 10px;
  background: #f5f4ec61 !important;
  transition: top 0.5s ease-in;
  position: relative;
}

.article:hover {
  top: -1px;
}

.bookmark:hover {
  color: teal;
}

.line {
  min-height: 100vh;
  background: linear-gradient(#f2eecb61, teal, #f2eecb61);
  width: 3px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 620px) {
  .line {
    min-height: 1vh;
    background: linear-gradient(#f2eecb61, teal, #f2eecb61);
    width: 90vw;
    margin-left: 15px;
    margin-right: 15px;
  }
  .profil {
    flex-direction: column;
  }
}
